<h1>Create a Reader Account</h1>

<%=# form_for @reader do |f| %>
    <%=# render 'form' %>
<% #end %>


<%= form_for @reader do |f| %>
  <label> Name: </label>
    <%= f.text_field :name %></br>
  <label> Password: </label>
    <%= f.text_field :password %></br>
  <label> Password Confirmation: </label>
    <%= f.text_field :password, confirmation: true %><br></b>
  
  <%= f.submit "Submit" %>
<% end %>