<%= link_to "Log Out", session_path(@reader.id), method: :delete, :data => { :confirm => "Good bye; you are logged out." } %>




</br></br><h1><%= @reader.name %></h1>
<h4>See something wrong? <%= link_to "Edit it here.", edit_reader_path(@reader.id) %></h4>


<h2>Diversity Statistics</h2>

<h4>Gender</h4>
<ul>
    <% @reader.reader_diversity[:gender].each do |gender| %>
        <li>
            <b><%= gender[0] %></b>: <%= number_to_percentage((gender[1] * 100 / @reader.authors.count), precision: 2) %>
        </li>
    <% end %>
</ul>

<h4>Sexual Orientation</h4>
<ul>
    <% @reader.reader_diversity[:sexual_orientation].each do |so| %>
        <li>
            <b><%= so[0] %></b>: <%= number_to_percentage((so[1] * 100 / @reader.authors.count), precision: 2) %>
        </li>
    <% end %>
</ul>

<h4>Race</h4>
<ul>
    <% @reader.reader_diversity[:race].each do |race| %>
        <li>
            <b><%= race[0] %></b>: <%= number_to_percentage((race[1] * 100 / @reader.authors.count), precision: 2) %>
        </li>
    <% end %>
</ul>

<h4>Nationality</h4>
<ul>
    <% @reader.reader_diversity[:nationality].each do |nationality| %>
        <li>
            <b><%= nationality[0] %></b>: <%= number_to_percentage((nationality[1] * 100 / @reader.authors.count), precision: 2) %>
        </li>
    <% end %>
</ul>







<h2>Books</h2>
<% @reader.books.alphabetical.each do |book| %>
    <%= link_to book.title, book_path(book.id) %> by <%= link_to book.author.name, author_path(book.author.id) %> </br>
<% end %>
