<body>
    <div class="page_padding">
        <h1><%= @author.name %></h1>
            <h2>Information</h2>
                <div class="edit"><%= link_to "Edit", edit_author_path(@author.id) %></div>
                    <ul>
                        <li>
                            <b>Gender: </b><%= @author.gender %>
                        </li>
                        <li>
                            <b>Sexual Orientation: </b><%= @author.sexual_orientation %>
                        </li>
                        <li>
                            <b>Race: </b><%= @author.race %>
                        </li>
                        <li>
                            <b>Nationality: </b><%= @author.nationality %>
                        </li>
                    </ul>

            <h2>Books</h2>
                <div class="edit"><%= link_to "Add a book", new_book_path %></div>

                <ul>
                    <% @author.alpha_books.each do |book| %>
                        <li>
                            <%= link_to book.title, book_path(book.id) %>
                        </li>
                    <% end %>
                </ul>
    </div>
</body>