



<!DOCTYPE html>
<html>
  <head>
    <title>Read Diversely</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    
  </head>
  <body>
    <ul class="h">
      <li class="h"><%= link_to "Read Diversely", '/' %></li>

      <li class ="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Authors</a>
        <div class="dropdown-content">
          <%= link_to "View All", authors_path(@authors) %>
          <%= link_to "Create New", new_author_path(@authors) %>
        </div>
      </li>

      <li class ="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Books</a>
        <div class="dropdown-content">
          <%= link_to "View All", books_path(@books) %>
          <%= link_to "Create New", new_book_path(@books) %>
        </div>
      </li>

      <li class ="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Readers</a>
        <div class="dropdown-content">
          <%= link_to "View All", readers_path(@readers) %>
          <%= link_to "Create New", new_reader_path(@readers) %>
        </div>
      </li>

    </ul>








    <%= yield %>  
  </body>
</html>
